* {
    margin: 0px;
    box-sizing: border-box;
}

.content1{
    width: 100%;
    height: 400px;
    padding: 10px;
}


.sidebar1{
    width: 55%;
    height: 400px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: left;
    float: left;
}

.sidebar2{
    width: 45%;
    height: 200px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: right;
    float: right;
}

.sidebar3{
    width: 45%;
    height: 200px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    float: right;
}

.content2{
    width: 100%;
    height: 400px;
    padding: 10px;
    margin-right: 15px;
}


.sidebar4{
    width: 55%;
    height: 400px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: left;
    float: left;
    
}

.sidebar5{
    width: 45%;
    height: 200px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: right;
    float: right;
}

.sidebar6{
    width: 45%;
    height: 200px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    float: right;
}

.content3{
    width: 100%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar7{
    width: 33.33%;
    height: 400px;
    background-color: red;
   
}

.sidebar8{
    width: 33.33%;
    height: 400px;
    background-color: green;
}

.sidebar9{
    width: 33.33%;
    height: 400px;
    background-color: blue;
}

.content4{
    width: 100%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar10{
    width: 33.33%;
    height: 400px;
    background-color: red;
    margin-right: 15px;
   
}

.sidebar11{
    width: 33.33%;
    height: 400px;
    background-color: green;
    margin-right: 15px;
}

.sidebar12{
    width: 33.33%;
    height: 400px;
    background-color: blue;
}