*{
    margin: 0;
    box-sizing: border-box;
}
.navigation{
    width: 100%;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #5595d1;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 120px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0px 30px;
}

.menu-list{
    display: flex;
}

.menu-list a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.menu ul{
    margin: 0px;
    padding: 0px;
}

li{
    /* display: block; */
    list-style-type: none;
    margin: 0px 15px;
}

a{
    text-decoration: none;
}

.content{
    width: 100%;
    height: 500x;
}

.items{
    width: 20%;
    height: auto;
    background-color: #c5c5c5;
    float: left;
    
}